<h1 mat-dialog-title>
    <div class="flex">
        <div class="flex1">
            {{formName}} New Projects
        </div>
        <div class="flex2">
            <mat-icon mat-dialog-close>clear</mat-icon>
        </div>
    </div>
    <hr>

</h1>

<div mat-dialog-content>
    <form [formGroup]="projectForm">
        <mat-form-field appearance="outline">
            <mat-label>Project Name</mat-label>
            <mat-hint>Project ABCD</mat-hint>
            <input formControlName="projectName" matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Start Date</mat-label>
            <input formControlName="date" matInput [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <br /><br />
        <mat-label>Task</mat-label>
        <div formArrayName="task">
            <div *ngFor="let task of formControl.controls; let i = index">
                <div class="flex">
                    <div class="flex1">
                        <mat-form-field appearance="outline">
                            <mat-label>Task</mat-label>
                            <input [formControlName]="i" matInput>
                        </mat-form-field>
                    </div>
                    <div class="flex2">
                        <button style="margin-top: 0.4rem;" (click)="onRemoveForm(i)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
            <button mat-raised-button (click)="onAddForm()">
                <mat-icon>add</mat-icon>Add New Task
            </button>
        </div>
    </form>
</div>
<div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
    <button mat-raised-button color="primary" (click)="addProject()">{{actionBtn}}</button>
</div>